body {
	padding-top:65px;
	padding-bottom:65px;
	background:#eee;
}

.center-menu {
	background: #fff;
	padding: 15px 15px;
	display: inline-block;
}

.center-menu textarea {
	overflow: hidden; 
	word-wrap: break-word; 
	resize: none; 
	height: 100px;
	width: 300px
}